:root{
    --bg-color: #0E2954;
    --second-bg-color: #00ffff;
    --third-bg-color: #0f1c31;
    --text-color: white;
    --main-color: #F05454;

    --box-border-color: coral;
    --box-bg-color: #333;
    --box-text-color: crimson;

}

[type='radio']{
    /* margin kam kore */
    /* margin: 30px; */

    /* color change kam kore na */
    color: red; /* Changed the color to red as per the instructions */
}


body{
    background-color: #f4f4f4;
    color: #555;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;

}

.container{
    width: 85%;
    margin: auto;
    overflow: hidden;
}

#main-header{
    background-color: orangered;
    /* filter: blur(5px);  */
    /* Added a blur effect to the background color as per the instructions */
    color: #fff;
}
#navbar{
    background-color: #333;
    color: #f4f4f4;
}

#navbar ul{
    padding: 0;
    list-style:none;
    
}

#navbar li{
    display: inline;
}

#navbar a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding-right: 15px;

}

#showcase{
    background-image: url("img/abs.jpg");
    background-position:center;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1{
    color: #fff;
    font-size: 50px;
    line-height: 1.6em;
    padding-top: 30px;
}

#main{
    float: left;

    background-color: #333;
    color:#fff;

    width: 65%;
    box-sizing: border-box;


    
}

#sidebar{
    float: right;
    width: 25%;
    background-color: #333;
    color:#fff;
    box-sizing: border-box;
    padding: 10px;

}

#main-footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-top: 30px;
    padding: 20px;

}

#form{
    display: flex;
    justify-content: center;
    align-items: center;
    

}


#form form input{
    width: 90px;
    height: 90px;
}
@media(max-width:800px){
    *{
        
        
        font-size: 12px;
        line-height: 1em;
    
    }

    #main{
        width: 100%;
        float: none;
    }

    #sidebar{
        width: 100%;
        float: none;
    }

    #form form input{
        width: 20px;
        height: 20px;
    }
}

.mui{
    margin: 20px;
    border-radius: 20px;
}

.box{
    width: 100%;
    display: grid;
    font-size: 20px;
    /* grid-template-columns: 200px 500px auto 2fr 1fr; */
    grid-template-columns: 1fr 4fr 1.5fr 3fr .5fr;
    grid-template-rows: 300px 300px;

}

.d1{
    background-color: #F05454;
}
.d2{
    background-color: #381e1e;
}
.d3{
    background-color: #54f095;
}
.d4{
    background-color: #7154f0;
}
.d5{
    background-color: #b41c68;
}